.home-header {
  background: url("../../assets/pexels-johannes-plenio-1103970.jpg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 30vh;
  height: 80vh;
}

.home-section{
    margin-top: 2em;
}

.home-photo{
    width: 100%;
    border-radius: 15%;
}

#home-title {
  font-size: 8rem;
}

  
  @media only screen and (max-width: 600px) {
    #about-photo {
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 600px) {
    #about-photo {
      float: right;
    }
  }

@media only screen and (max-width: 600px) {
  #home-title {
    font-size: 5rem;
  }
}
