nav {
  background: #ffffff;
}

nav ul a {
  color: #039be5;
  font-size: 1.2em;
  margin: 0 2vw;
}

nav .brand-logo {
  color: #039be5;
}

nav #brand-logo-image {
  margin-top: 7px;
  max-height: 50px;
}

nav #brand-logo-text {
  padding-left: 7rem;
  font-size: 1.5rem;
  color: #039be5;
}

nav .sidenav-trigger {
  float: right;
  color: #5a5a5b;
}

@media only screen and (max-width: 993px) {
  nav #brand-logo-text {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #mobile-nav a {
    color: #039be5;
  }
  #mobile-nav {
    background: #ffffff;
  }
  nav #brand-logo-image {
    height: 1em;
    margin-top: 15%;
  }
}
@media only screen and (min-width: 992px) {
  nav .brand-logo {
    margin-left: 2.5rem;
  }
}
